.btn {
    border: none;
    border-radius: 30px;
    cursor: pointer;    
    padding: 20px 40px;
}

.primary {
    color: white;
    background: -webkit-linear-gradient(180deg, #4e4e4e, #999999);
    font-size: 24px;
    font-weight: bold;
}

.secondary {
    color: #4e4e4e;
    background: white;
    font-size: 16px;
    font-weight: bold;
}