<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <span>MC_DEV CONSULTORIA</span>
            <h1>A consultoria que você busca para seu software!</h1>
        </div>
        <img ngSrc="./assets/principal.jpg" priority width="670" height="530" />
    </section>
    <section class="cta-section">
        <a routerLink="/about"><btn-primary btn-text="fale com nossos especialistas"></btn-primary></a>        
    </section>
    <newsletter-form></newsletter-form>    
</main>
<footer></footer>