<app-header></app-header>

<main>
  <section class="main-section">
    <div class="headline">
      <h2>Empreendimentos Cadastrados</h2>
      <div class="card">
        <form [formGroup]="filtroForm" (ngSubmit)="obterTodos()" class="formFilter">
          <div class="inputsFiltro">
            <div class="form-group">
              <input pInputText id="nome_fantasia" formControlName="nome" class="flex-auto" autocomplete="off"
                placeholder="Nome Fantasia" />
            </div>
  
            <div class="form-group">
              <input pInputText id="bairro" formControlName="bairro" class="flex-auto" autocomplete="off"
                placeholder="Bairro" />
            </div>
  
            <div class="form-group">
              <input pInputText id="ramo_atividade" formControlName="atividade" class="flex-auto" autocomplete="off"
                placeholder="Ramo Atividade" />
            </div>
          </div>          

          <div class="form-group" id="btnsFiltro">
            <div class="topBtn">
              <button pButton pRipple label="Filtrar" type="submit" class="p-button-primary"></button>
              <button pButton pRipple label="Limpar" class="p-button-primary" (click)="limparFiltro()"></button>
            </div>
            <div class="bottomBtn">
              @if (situacao) {              
              <button pButton pRipple label="Imprimir Licença Sanitária" class="p-button-secondary"
                (click)="showDialogImprimirLicenca()"></button>
              <button pButton pRipple label="Cadastrar Empreendimento" class="p-button-success"
                (click)="showDialogCadastro()"></button>
              <button pButton pRipple label="Mostrar Inativos" class="p-button-danger"
                (click)="obterInativos()"></button>
              } @else {
              <button pButton pRipple label="Mostrar Ativos" class="p-button-secondary"
                (click)="obterAtivos()"></button>
              }
            </div>
          </div>
        </form>

        <p-table #dt [columns]="cols" [value]="empreendimentos" class="tabela" styleClass="p-datatable-gridlines"
          [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">
          <ng-template pTemplate="caption">
            <div style="text-align: left">
              <button pButton pRipple icon="pi pi-external-link" (click)="dt.exportCSV()" id="btnExport">
              </button>
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width:11%">Ações</th>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td>
                @if (situacao) {
                <button type="button" pButton pRipple icon="pi pi-eye" (click)="showDialogUpdate(rowData.id)"
                  title="Ver"></button>
                <button type="button" pButton pRipple icon="pi pi-times-circle" class="p-button-danger"
                  (click)="tornarInativo(rowData)" title="Inativar"></button>
                } @else {
                <button type="button" pButton pRipple icon="pi pi-undo" (click)="tornarAtivo(rowData)"
                  title="Voltar para ativo"></button>
                <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger"
                  (click)="deletar(rowData)" title="Deletar"></button>
                }
              </td>
              <td *ngFor="let col of columns">
                <ng-container *ngIf="col.field === 'documento'">{{ formatarDocumento(rowData[col.field])
                  }}</ng-container>
                <ng-container *ngIf="col.field === 'telefone'">{{ formatarTelefone(rowData[col.field]) }}</ng-container>
                <ng-container *ngIf="col.field !== 'documento' && col.field !== 'telefone'">{{ rowData[col.field]
                  }}</ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>

</main>

<p-dialog [(visible)]="dialogAberto" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '70vw', height: '80vh', padding: '1rem' }" (onClose)="closeDialog()">
  <div class="dialog-header">
    @if (visibleUpdate) {
      <h2 class="text-center">Atualizar Empreendimento</h2>    
    } @else {
      <h2 class="text-center">Cadastrar Empreendimento</h2>
    }
  </div>

  <ng-template pTemplate="content">
    <form [formGroup]="form" class="formCadastro custom-grid">
      <div class="form-group">
        <div class="label-input">
          <label for="nome_fantasia" class="font-semibold w-6rem">Nome Fantasia *</label>
          <input pInputText id="nome_fantasia" formControlName="nome_fantasia" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="razao_social" class="font-semibold w-6rem">Razão Social *</label>
          <input pInputText id="razao_social" formControlName="razao_social" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="documento" class="font-semibold w-6rem">Documento *</label>
          <input pInputText id="documento" formControlName="documento" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="ramo_atividade" class="font-semibold w-6rem">Ramo Atividade *</label>
          <input pInputText id="ramo_atividade" formControlName="ramo_atividade" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="nome_proprietario" class="font-semibold w-6rem">Nome Proprietário *</label>
          <input pInputText id="nome_proprietario" formControlName="nome_proprietario" class="flex-auto"
            autocomplete="off" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="responsavel_tecnico" class="font-semibold w-6rem">Responsável Técnico</label>
          <input pInputText id="responsavel_tecnico" formControlName="responsavel_tecnico" class="flex-auto"
            autocomplete="off" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="telefone" class="font-semibold w-6rem">Telefone *</label>
          <input pInputText id="telefone" formControlName="telefone" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="bairro" class="font-semibold w-6rem">Bairro *</label>
          <input pInputText id="bairro" formControlName="bairro" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="logradouro" class="font-semibold w-6rem">Logradouro *</label>
          <input pInputText id="logradouro" formControlName="logradouro" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="numero" class="font-semibold w-6rem">Número</label>
          <input pInputText id="numero" formControlName="numero" class="flex-auto" />
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="text-right">
      @if (visibleUpdate) {
      <button pButton pRipple label="Gerar PDF" (click)="generatePDF()" class="p-button-secondary" id="btnPdf"></button>
      }
      <button pButton pRipple label="Fechar" (click)="closeDialog()" class="p-button-danger" id="btnClose"></button>
      <button pButton pRipple label="Salvar" type="submit" (click)="save()" class="p-button-success"
        id="btnSave"></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="dialogImprimirLicenca" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [style]="{ width: '50vw', height: '70vh', padding: '1rem' }" [draggable]="false" [resizable]="false"
  (onClose)="closeDialog()">

  <div class="dialog-header">
    <h2 class="text-center">Imprimir Licença Sanitária</h2>
    <p>Informe o estabelecimento, número da licença, número do processo, data do processo, vigência da licença e tipo da licença.</p>
  </div>

  <ng-template pTemplate="content">
    <form [formGroup]="licencaForm" class="formImprimirLicenca custom-grid">
      <div class="form-group">
        <div class="label-input">
          <label for="estabelecimento" class="font-semibold w-6rem">Estabelecimento *</label>
          <input pInputText id="estabelecimento" formControlName="estabelecimento" class="flex-auto" />
          <!-- <p-autocomplete formControlName="empreendimentoSelecionado" [suggestions]="empreendimentosFiltrados" (completeMethod)="filtraEmpreendimento($event)" field="nome_fantasia" /> -->
          <!-- <p-autocomplete [(ngModel)]="empreendimentoSelecionado" [suggestions]="empreendimentosFiltrados" (completeMethod)="filtraEmpreendimento($event)" optionLabel="Nome do Estabelecimento">
            <ng-template let-estabelecimento #item>
                <div class="flex items-center gap-2">
                    <div>{{ estabelecimento.nome_fantasia }}</div>
                </div>
            </ng-template>
          </p-autocomplete> -->
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="numeroLicenca" class="font-semibold w-6rem">Número da Licença *</label>
          <input pInputText id="numeroLicenca" formControlName="numeroLicenca" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="numeroProcesso" class="font-semibold w-6rem">Número do Processo *</label>
          <input pInputText id="numeroProcesso" formControlName="numeroProcesso" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="dataProcesso" class="font-semibold w-6rem">Data do Processo *</label>
          <input pInputText id="dataProcesso" formControlName="dataProcesso" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="vigenciaLicenca" class="font-semibold w-6rem">Vigência da Licença *</label>
          <input pInputText id="vigenciaLicenca" formControlName="vigenciaLicenca" class="flex-auto"
            autocomplete="off" />
            <!-- <p-datepicker formControlName="vigencia" dateFormat="dd-mm-yy" /> -->
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="tipoLicenca" class="font-semibold w-6rem">Tipo de Licença *</label>
          <!-- <p-select [options]="tiposLicenca" [(ngModel)]="selectedCity" optionLabel="label" class="w-full md:w-56 dropdownInput" /> -->
          <p-dropdown [(ngModel)]="tipoLicencaSelecionado" [options]="tiposLicenca" formControlName="tipoLicenca" optionLabel="label" placeholder="Selecione o tipo"></p-dropdown>
        </div>
      </div>     
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="text-right">
      <button pButton pRipple label="Imprimir Licença Sanitária" class="p-button-success"
        (click)="licencaPDF()" id="btnImprimirLicenca"></button>
    </div>
  </ng-template>
</p-dialog>

<br>
<footer></footer>