.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.headline {
    gap: 20px;
}

.headline>span {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.headline>h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.cta-button {
    padding: 10px;
}

section {
    padding: 30px 60px;
}

h2 {
    font-size: 2rem;
    padding: 15px;
    text-align: center;
}

.form-group {
    padding: 1rem;
}

.form-group>label, .form-group>input {
    font-size: 1.5rem;
}

.titleModal {
    background-color: aqua;
    font-size: 2rem;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form>p-button {
    padding: 1rem;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 70px;
    font-family: 'Poppins', sans-serif;
}

button {
    margin: 0 2px;
    padding: 0.5rem;
}

th, td {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: black;
}


.formFilter {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

form>div>input {
    padding: 0.5rem;
    margin-top: 1px;
}

#btnExport {
    padding: 0.5rem;
}

@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
    }
}