.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline {
    gap: 20px;
}

.headline>span {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.headline>h1 {
    font-size: 60px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    line-height: 60px;
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px;
}

.cta-button {
    padding: 10px;
}

section {
    padding: 30px 60px;
}

@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
    }
}