<div class="card">
  <form [formGroup]="filtroForm" (ngSubmit)="obterTodos()" class="formFilter">
    <div class="form-group">
      <input pInputText id="nome_fantasia" formControlName="nome" class="flex-auto" autocomplete="off"
        placeholder="Nome Fantasia" />
    </div>

    <div class="form-group">
      <input pInputText id="bairro" formControlName="bairro" class="flex-auto" autocomplete="off"
        placeholder="Bairro" />
    </div>

    <div class="form-group">
      <input pInputText id="ramo_atividade" formControlName="atividade" class="flex-auto" autocomplete="off"
        placeholder="Ramo Atividade" />
    </div>

    <div>
      <button pButton pRipple label="Filtrar" type="submit"></button>
      <button pButton pRipple label="Mostrar Inativos" (click)="obterInativos()"></button>
    </div>
  </form>

  <p-table [columns]="cols" [value]="empreendimentos" class="tabela">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Ações</th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <button type="button" pButton pRipple icon="pi pi-eye" (click)="showDialog(rowData.id)" title="Ver"></button>
          <button type="button" pButton pRipple icon="pi pi-times-circle" class="p-button-danger" (click)="tornarInativo(rowData)" title="Inativar"></button>
        </td>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-update-form [visible]="visible" [empreendimentoId]="selectedEmpreendimentoId"
    (onClose)="closeDialog()"></app-update-form>
</div>