<div class="card">
  <p-table [columns]="cols" [value]="empreendimentos" class="tabela">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Ações</th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <button type="button" pButton pRipple icon="pi pi-eye" (click)="showDialog(rowData.id)" title="Ver"></button>
          <button type="button" pButton pRipple icon="pi pi-times-circle" (click)="tornarInativo(rowData)" title="Inativar"></button>
        </td>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  <app-update-form [visible]="visible" [empreendimentoId]="selectedEmpreendimentoId" (onClose)="closeDialog()"></app-update-form>
</div>