<div class="card flex justify-content-center">
  <p-dialog [(visible)]="display" [modal]="true" 
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
  [style]="{ width: '70vw', height: '80vh', padding: '1rem' }" 
  [draggable]="false" 
  [resizable]="false"
  (close)="onDialogClose()">

  <div class="dialog-header">
    @if (visibleCreate) {
      <h2 class="text-center">Cadastrar Empreendimento</h2>
    } @else {
      <h2 class="text-center">Atualizar Empreendimento</h2>
    }    
  </div>

  <ng-template pTemplate="content">
    <form [formGroup]="form" class="formCadastro custom-grid">
      <div class="form-group">
        <div class="label-input">
          <label for="nome_fantasia" class="font-semibold w-6rem">Nome Fantasia</label>
          <input pInputText id="nome_fantasia" formControlName="nome_fantasia" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="razao_social" class="font-semibold w-6rem">Razão Social</label>
          <input pInputText id="razao_social" formControlName="razao_social" class="flex-auto" />
        </div>        
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="documento" class="font-semibold w-6rem">Documento</label>
          <input pInputText id="documento" formControlName="documento" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="ramo_atividade" class="font-semibold w-6rem">Ramo Atividade</label>
          <input pInputText id="ramo_atividade" formControlName="ramo_atividade" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="nome_proprietario" class="font-semibold w-6rem">Nome Proprietário</label>
          <input pInputText id="nome_proprietario" formControlName="nome_proprietario" class="flex-auto"
            autocomplete="off" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="responsavel_tecnico" class="font-semibold w-6rem">Responsável Técnico</label>
          <input pInputText id="responsavel_tecnico" formControlName="responsavel_tecnico" class="flex-auto"
            autocomplete="off" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="telefone" class="font-semibold w-6rem">Telefone</label>
          <input pInputText id="telefone" formControlName="telefone" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="logradouro" class="font-semibold w-6rem">Logradouro</label>
          <input pInputText id="logradouro" formControlName="logradouro" class="flex-auto" />
        </div>
      </div>

      <div class="form-group">
        <div class="label-input">
          <label for="bairro" class="font-semibold w-6rem">Bairro</label>
          <input pInputText id="bairro" formControlName="bairro" class="flex-auto" />
        </div>
      </div>      
    </form>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="text-right">
      @if (visibleUpdate) {
        <button pButton pRipple label="Gerar PDF" (click)="generatePDF()" class="p-button-secondary" id="btnPdf"></button>
      }
      <button pButton pRipple label="Fechar" (click)="onDialogClose()" class="p-button-danger" id="btnClose"></button>
      <button pButton pRipple label="Salvar" type="submit" (click)="save()" class="p-button-success" id="btnSave"></button>     
    </div>
  </ng-template>
    
  </p-dialog>
</div>